html, body {
  height: 100%;
  margin: 0;
}


body {
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Margin bottom by footer height */

}


#main-wrapper {
    margin-top: 50px;
    min-height: 100%;
}

.footer {
  height: 20px;
  margin-top: -20px;
}

.card h1 {
    text-align: center;
    color: #16B6DF;
}
#credit-link {
    text-align: center;
    font-size: 12px;
}
